# Iris Data Prediction

In [2]:
#loading dataset
df = pd.read_csv("iris.csv")

In [3]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
df.replace(['Iris-setosa','Iris-versicolor','Iris-virginica'],[1,2,3], inplace=True)

In [6]:
#showing replaced values
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        1
1   2            4.9           3.0            1.4           0.2        1
2   3            4.7           3.2            1.3           0.2        1
3   4            4.6           3.1            1.5           0.2        1
4   5            5.0           3.6            1.4           0.2        1

In [7]:
#by using gaussian naive bayes classifier
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()

In [8]:
#train and test split
from sklearn.model_selection import train_test_split

In [9]:
array = df.values
x_train,x_test,y_train,y_test = train_test_split(array[:,1:5],array[:,5],test_size=0.3)

In [10]:
x_test.shape

(45, 4)

In [11]:
gnb.fit(x_train,y_train)
pred = gnb.predict(x_test)

In [12]:
pred

array([1., 3., 2., 1., 1., 3., 1., 3., 1., 1., 3., 3., 3., 1., 3., 2., 2.,
       3., 2., 2., 3., 2., 1., 3., 2., 1., 3., 1., 3., 3., 2., 1., 1., 1.,
       3., 3., 2., 2., 2., 3., 3., 1., 1., 2., 2.])

In [13]:
pred.shape

(45,)

In [14]:
#reshaping needed to preform the concatination 
pred_df = pd.DataFrame(pred.reshape(45,1))

In [15]:
pred_df.rename(columns={0:'prediction'},inplace = True)

In [16]:
x_test_df = pd.DataFrame(x_test.reshape(45,4))

In [19]:
#concatenation 
pred_outcome = pd.concat([x_test_df,pred_df], axis=1, join_axes=[x_test_df.index])

C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The join_axes-keyword is deprecated. Use .reindex or .reindex_like on the result to achieve the same functionality.

In [20]:
pred_outcome.head()

     0    1    2    3  prediction
0  5.0  3.3  1.4  0.2         1.0
1  5.6  2.8  4.9  2.0         3.0
2  5.5  2.5  4.0  1.3         2.0
3  5.1  3.8  1.9  0.4         1.0
4  4.3  3.0  1.1  0.1         1.0

In [31]:
pred_outcome.rename (columns={0:'SepalLengthCm', 1:'SepalWidthCm',2:'PetalLengthCm', 3:'PetalWidthCm'}, inplace = True)

In [33]:
pred_outcome.head()

   SepalLengthcm  SepalWidthcm  PetalLengthcm  PetalWidthcm  prediction
0            5.0           3.3            1.4           0.2         1.0
1            5.6           2.8            4.9           2.0         3.0
2            5.5           2.5            4.0           1.3         2.0
3            5.1           3.8            1.9           0.4         1.0
4            4.3           3.0            1.1           0.1         1.0

In [37]:
from sklearn.metrics import accuracy_score
print('Accuracy_Score:',accuracy_score(pred,y_test))

Accuracy_Score: 0.9777777777777777